// General variables 
$wmin: 137px;
$hmin: 40px;
$gpadding: 10px 24px;
$gshadow: (0px 2px 9px 2px gray);


// Sizes variables
$wxs: 137px;
$wsm: 147px;
$wmd: 157px;
$wlg: 169px;

$hxs: 40px;
$hsm: 43px;
$hmd: 46px;
$hlg: 50px;

// Colors variables Primary
$colord: #4a4c4d;
$color1: #0086B3;
$color2: #6A20C5;
$color3: #DA138A;
$color4: #CAAF01;
$color5: #00AF98;



// Colors Background variables Primary

$bgd: $colord;
$bg1: $color1;
$bg2: $color2;
$bg3: $color3;
$bg4: $color4;
$bg5: $color5;

$fcd: #ffffff;
$fc1: #ffffff;
$fc2: #ffffff;
$fc3: #ffffff;
$fc4: #ffffff;
$fc5: #ffffff;

// Colors variables Secondary
$colord:    #4a4c4d;
$colorsec1: #6ADAFF;
$colorsec2: #BE97EE;
$colorsec3: #F8ADDA;
$colorsec4: #FEF091;
$colorsec5: #A0FFF2;

// Colors Background variables Secondary

$bgd: $colord;
$bgsec1: $colorsec1;
$bgsec2: $colorsec2;
$bgsec3: $colorsec3;
$bgsec4: $colorsec4;
$bgsec5: $colorsec5;


$fcd: #ffffff;
$fcsec: #070642;

// Colors Background variables Tertary

$colord:    #4a4c4d;
$colortert1: #ffffff;

$bgtert1: $colortert1;

// Colors Border variables Tertary

$bordcolor1: #0086B3;
$bordcolor2: #6A20C5;
$bordcolor3: #DA138A;
$bordcolor4: #CAAF01;
$bordcolor5: #00AF98;

$bordertert1: $bordcolor1;
$bordertert2: $bordcolor2;
$bordertert3: $bordcolor3;
$bordertert4: $bordcolor4;
$bordertert5: $bordcolor5;

// Colors Font variables Tertary 

$fcd: #ffffff;
$fctert1: #0086B3;;
$fctert2: #6A20C5;
$fctert3: #DA138A;
$fctert4: #CAAF01;
$fctert5: #00AF98;



